@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/fontello.eot?75836513');
  src: url('fonts/fontello/fontello.eot?75836513#iefix') format('embedded-opentype'), url('fonts/fontello/fontello.woff?75836513') format('woff'), url('fonts/fontello/fontello.ttf?75836513') format('truetype'), url('fonts/fontello/fontello.svg?75836513#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'fontello';
}
