#add-review {
  background: #EFEFEF;
  float: left;
  padding: 9px 12px;
  font-size: 11px;
}
#add-review a {
  cursor: pointer;
  border-bottom: dotted 1px #069;
}
#review-form-div {
  width: 392px;
}
#review-form-div h2 {
  color: #000;
}
#ProductReview_text {
  max-width: 375px;
}
ul.reviews {
  margin-top: 10px;
  width: 320px;
  padding-left: 0 !important;
}
ul.reviews li {
  font-family: 'Tahoma';
  list-style: none;
}
ul.reviews .username {
  font-weight: bold;
  color: #999;
  width: 200px;
  display: inline-block;
}
ul.reviews .text {
  margin-top: 5px;
}
ul.reviews .cutlink {
  color: #989898;
  float: right;
}
ul.reviews .hide {
  display: none;
}
ul.reviews .show {
  display: list-item;
}
