body {
    background-color: transparent;
}

p {
    font-size: 12px;
    margin: 0 0 1em;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 12px;
}

.user_info_block {
    background: #efefef;
    border: solid 1px #999;
    padding: 5px 10px;
    width: 200px;
    float: right;
    margin-left: 10px;
}
.user_info_block h4 {
    margin: 0 0 10px;
}
.image-full {}
