body {
    background-color: transparent;
}

p {
    font-size: 12px;
    margin: 0 0 1em;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 12px;
}

.user_info_block {
    background: #efefef;
    border: solid 1px #999;
    padding: 5px 10px;
    width: 200px;
    float: right;
    margin-left: 10px;
}
.user_info_block h4 {
    margin: 0 0 10px;
}

.user_info_block_adaptive {
  margin: 0 0 20px;
  border: 0;
  border-left: 5px solid #C9C9C9;
  width: 100%;
  padding: 5px 15px 0; 
}



.image-full {}

.clearfix {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px dashed #ccc;
}

.is_read_more {
    background: rgba(168, 232, 200, 0.08);
    border: 1px dashed #999;
}